{% extends 'website/main.html' %}
{% load static %}


{% block content %}
<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Blogs</li>
    </ol>
    <!---->
    <!--// mian-content -->
    <!-- banner -->
    <section class="ab-info-main py-5">
        <div class="container py-lg-3">
            <div class="ab-info-grids">
                <h3 class="tittle text-center mb-lg-5 mb-3">Blog Posts</h3>
                <div id="products" class="row view-group">
                    {% for post in posts%}
                    <div class="item col-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" src ="{{post.image.url}}" alt="" />
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    {{post.title}}
                                     </h4>
                                <p class="group inner list-group-item-text">
                                    </p>
                                <div class="row">
                                    <div class="col-6 ban-buttons">
                                        <a class="btn btn-course" href="{% url 'single' pk=post.pk %}">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    

                </div>
            </div>
        </div>
    </section>
    
    
{% endblock %}