{% extends 'website/main.html' %}
{% load static %}


{% block content %}
<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Blogs</li>
    </ol>
    <!---->
    <!--// mian-content -->
    <!-- banner -->
    <section class="ab-info-main py-5">
        <div class="container py-lg-3">
            <div class="ab-info-grids">
                <h3 class="tittle text-center mb-lg-5 mb-3">Blog Posts</h3>
                <div id="products" class="row view-group">
                    <div class="item col-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" src ="{% static 'images/img10.jpg' %}" alt="" />
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    Blog Post 1</h4>
                                <p class="group inner list-group-item-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,dolore magna aliquam volutpat.</p>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="lead">
                                            $720.00</p>
                                    </div>
                                    <div class="col-6 ban-buttons">
                                        <a class="btn btn-course" href="{% url 'single' %}">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" src="{% static 'images/img11.jpg' %}" alt="" />
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    Blog Post 2</h4>
                                <p class="group inner list-group-item-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,dolore magna aliquam volutpat.</p>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="lead">
                                            $825.00</p>
                                    </div>
                                    <div class="col-6 ban-buttons">
                                        <a class="btn btn-course" href="{% url 'single' %}">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" src=" {% static 'images/img12.jpg' %}" alt="" />
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    Blog Post 3</h4>
                                <p class="group inner list-group-item-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,dolore magna aliquam volutpat.</p>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="lead">
                                            $730.00</p>
                                    </div>
                                    <div class="col-6 ban-buttons">
                                        <a class="btn btn-course" href="{% url 'single' %}">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-lg-4 mt-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" src="{% static 'images/img13.jpg' %}" alt="" />
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    Blog Post 4</h4>
                                <p class="group inner list-group-item-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,dolore magna aliquam volutpat.</p>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="lead">
                                            $634.00</p>
                                    </div>
                                    <div class="col-6 ban-buttons">
                                        <a class="btn btn-course" href="{% url 'single' %}">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="item col-lg-4 mt-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" src="{% static 'images/img14.jpg' %}" alt="" />
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    Blog Post 4</h4>
                                <p class="group inner list-group-item-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,dolore magna aliquam volutpat.</p>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="lead">
                                            $634.00</p>
                                    </div>
                                    <div class="col-6 ban-buttons">
                                        <a class="btn btn-course" href="{% url 'single' %}">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-lg-4 mt-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" src="{% static 'images/img15.jpg' %}" alt="" />
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    Blog Post 6</h4>
                                <p class="group inner list-group-item-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,dolore magna aliquam volutpat.</p>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="lead">
                                            $620.00</p>
                                    </div>
                                    <div class="col-6 ban-buttons">
                                        <a class="btn btn-course" href="{% url 'single' %}">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    
    <section class="brands py-5" id="brands">
        <div class="container py-lg-0">
            <div class="row text-center brand-items">
                <div class="col-sm-2 col-3">
                    <a href="#"><span class="fa fa-connectdevelop" aria-hidden="true"></span></a>
                </div>
                <div class="col-sm-2 col-3">
                    <a href="#"><span class="fa fa-empire" aria-hidden="true"></span></a>
                </div>
                <div class="col-sm-2 col-3">
                    <a href="#"><span class="fa fa-ioxhost" aria-hidden="true"></span></a>
                </div>
                <div class="col-sm-2 col-3">
                    <a href="#"><span class="fa fa-first-order" aria-hidden="true"></span></a>
                </div>
                <div class="col-sm-2 col-3 mt-sm-0 mt-4">
                    <a href="#"><span class="fa fa-joomla" aria-hidden="true"></span></a>
                </div>
                <div class="col-sm-2 col-3 mt-sm-0 mt-4">
                    <a href="#"><span class="fa fa-dropbox" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}