{% extends 'website/main.html' %}
{% load static %}


{% block content %}


<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Single Page</li>
    </ol>
    <!---->
    <!-- banner -->
    <section class="ab-info-main py-md-5 py-4">
        <div class="container py-md-3">
            <!-- top Products -->
            <div class="row">
                <!-- product left -->
                <div class="side-bar col-lg-4">

                    <div class="search-bar w3layouts-newsletter">
                        <h3 class="sear-head">Search Here..</h3>
                        <form action="{% url 'searching_result' %}" method=  "get" class="d-flex">

                            <input type="search" placeholder="Product name..." name="search" class="form-control" required="">
                            <button class="btn1"><span class="fa fa-search" aria-hidden="true"></span></button>
                        </form>
                    </div>
                    <!--preference -->
                    
                    <!-- deals -->
                    <hr>
                    <div class="deal-leftmk left-side">
                        <h3 class="sear-head">Special offers</h3>
                        {% for offer in special_offers%}
                        <div class="special-sec1 row mb-3">
                            <div class="img-deals col-md-4">
                                <img src="{{offer.image.url}}" class="img-fluid" alt="">
                            </div>
                            <div class="img-deal1 col-md-4">
                                <h3>{{offer.title}}</h3>
                                <a href="#">${{offer.price}}</a>
                            </div>

                        </div>
                        {% endfor %}
                    </div>
                    <!-- //deals -->

                </div>
                <!-- //product left -->
                <!-- product right -->
                <div class="left-ads-display col-lg-8">
                    <div class="row">
                        {%for product in products%}
                        <div class="col-md-4 product-men">
                            <div class="product-shoe-info shoe text-center">
                                <div class="men-thumb-item">
                                    <img src="{{product.image.url}}" class="img-fluid" alt="">
                                    <span class="product-new-top">New</span>
                                </div>
                                <div class="item-info-product">
                                    <h4>
                                        <a href="{% url 'single_shop' pk=product.pk %}">{{product.title}} </a>
                                    </h4>

                                    <div class="product_price">
                                        <div class="grid-price">
                                            <span class="money">${{product.price}}</span>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                            <br>
                        </div>

                        {% endfor %}
                    </div>
                    <div class="grid-img-right mt-4 text-right">
                        <span class="money">Flat 50% Off</span>
                        <a href="#" class="btn">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    

{% endblock %}