{% extends 'website/main.html' %}
{% load static %}


{% block content %}

    

 <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Shop Single</li>
    </ol>
    <!---->
    <!-- banner -->
    <section class="ab-info-main py-md-5 py-4">
        <div class="container py-md-3">
            <!-- top Products -->
            <div class="row">
                <!-- product left -->
                <div class="side-bar col-lg-4">

                   <div class="search-bar w3layouts-newsletter">
                        <h3 class="sear-head">Search Here..</h3>
                        <form action="{% url 'searching_result' %}" method=  "get" class="d-flex">

                            <input type="search" placeholder="Product name..." name="search" class="form-control" required="">
                            <button class="btn1"><span class="fa fa-search" aria-hidden="true"></span></button>
                        </form>
                    </div>
                    <!--preference -->
                    <div class="left-side my-4">
                        <h3 class="sear-head">Occasion</h3>
                        <ul class="w3layouts-box-list">
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Casuals</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Party</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Wedding</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Ethnic</span>
                            </li>
                        </ul>
                    </div>
                    <!-- // preference -->
                    <!-- discounts -->
                    <div class="left-side">
                        <h3 class="sear-head">Discount</h3>
                        <ul class="w3layouts-box-list">
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">5% or More</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">10% or More</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">20% or More</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">30% or More</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">50% or More</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">60% or More</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //discounts -->
                    <!-- reviews -->
                    <div class="customer-rev left-side my-4">
                        <h3 class="sear-head">Customer Review</h3>
                        <ul class="w3layouts-box-list">
                            <li>
                                <a href="#">
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span>5.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span>4.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star-half-o" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span>3.5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span>3.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star-half-o" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span>2.5</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //reviews -->
                    <!-- deals -->
                    <hr>
                    <div class="deal-leftmk left-side">
                        <h3 class="sear-head">Special offers</h3>
                        {% for offer in special_offers%}
                        <div class="special-sec1 row mb-3">
                            <div class="img-deals col-md-4">
                                <img src="{{offer.image.url}}" class="img-fluid" alt="">

                            </div>
                            <div class="img-deal1 col-md-4">
                                <h3>{{offer.title}}</h3>
                                <a href="#">${{offer.price}}</a>
                            </div>

                        </div>
                        {% endfor %}
                    </div>
                    <!-- //deals -->

                </div>
    
        
<!-- main -->
        <div class="column">
            <h1>{{product.title|capfirst}}</h1>
            <br>
            <img id=featured src="{{product.image.url}}">

            <div id="slide-wrapper" >
                <img id="slideLeft" class="arrow" src="{% static 'images/arrow-left.png'%}">

                <div id="slider">
                    <br>
                    <img class="thumb active" src="{{product.image.url}}">
                    <img class="thumb" src="{% static 'images/img3.jpg'%}">
                    <img class="thumb" src="{% static 'images/img2.jpg'%}">

                    <img class="thumb" src="{% static 'images/img2.jpg'%}">
                    <img class="thumb" src="{% static 'images/img3.jpg'%}">
                    <img class="thumb" src="{% static 'images/img2.jpg'%}">
                </div>

                <img id="slideRight" class="arrow" src="{% static 'images/arrow-right.png'%}">
            </div>
        
            
        <div class="column">
            
            <hr>
            <h3>${{product.price}} <a class="btn btn-dark" href="{% url 'cart'%}">Add to Cart</a></h3>
            
              
        </div>

    </div>



    <script type="text/javascript">
        let thumb = document.getElementsByClassName('thumb')

        let activeImages = document.getElementsByClassName('active')

        for (var i=0; i < thumb.length; i++){

            thumb[i].addEventListener('mouseover', function(){
                console.log(activeImages)
                
                if (activeImages.length > 0){
                    activeImages[0].classList.remove('active')
                }
                

                this.classList.add('active')
                document.getElementById('featured').src = this.src
            })
        }


        let buttonRight = document.getElementById('slideRight');
        let buttonLeft = document.getElementById('slideLeft');

        buttonLeft.addEventListener('click', function(){
            document.getElementById('slider').scrollLeft -= 180
        })

        buttonRight.addEventListener('click', function(){
            document.getElementById('slider').scrollLeft += 180
        })


    </script>

    
    
{% endblock %}