<section class="about py-5">
        
        <div class="container pb-lg-3">
            <h3 class="tittle text-center">New Items</h3>

            <div class="row " >
                <hr>
                {% for product in products %}
                <div class="col-md-4 product-men ">
                    <div class="product-shoe-info shoe text-center hovering">
                        <!-- image_box -->
                        <div class="men-thumb-item">

                            <img src=" {{product.image.url}}" class="img-fluid" alt="">
                            <span class="product-new-top">New</span>
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="{% url 'single_shop' pk=product.pk %}">{{product.title}} </a>
                            </h4>

                            <div class="product_price">
                                <div class="grid-price">
                                    <span class="money">${{product.price}}</span>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                    <br>
                </div>
                <br>
                  {% endfor%}
                
            </div>

        </div>
      
    </section>